{% extends "base_generic.html" %}

{% block content %}

<div class="container">
          <section id="blackboard" class="services col-md-5">
            <div class="devpanel">
              <div class="vertical-project-form">
                <form name="form" class="project-form" enctype="multipart/form-data" method="get" action="/show_dashboard">


                                    {% csrf_token %}
                                    '<input name="urlProject" id="cf-name" class="form-control input-box placeholder" placeholder="http:/scratch.mit.edu/projects/your_number" type="text">'
                                    <button id="url" name='_url' type="submit" class="btn btn-primary standard-button"> "Analyze by url"</button>

                                    <br><br>

                                    {% csrf_token %}
                                     "<input  name='zipFile' type='file' class='filestyle' data-buttonText='Choose Project'>"
                                    <button id="upload" name='_upload' type="submit" class="btn btn-primary standard-button">"Analyze my project"</button>
                                    {% csrf_token %}

                 </form>
               </div>
            </div>
          </section>
</div>

{% endblock %}