{% load i18n %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="Analyze your Scratch projects to assess your Computational Thinking skills">
    <meta name="keywords" content="Stamp, Startup, Multipurpose, Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="author" content="Programamos URJC Libresoft FECyT">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="../../static/app/scripts/bootstrap-modal.js"></script>
    <script src="../../static/app/scripts/bootstrap.js"></script>
    <link rel="stylesheet" href="../../static/app/content/bootstrap-tour.css">
    <script src="../../static/app/scripts/bootstrap.min.js"></script>
    <script src="../../static/app/scripts/bootstrap-tour.js"></script>
    <script src="../../static/app/scripts/googleAnalytics.js"></script>
    <script src="../../static/app/scripts/scratchblocks-v3.4-min.js"></script>
    <script src="../../static/app/scripts/translations-all-v3.4.js" charset="utf8"></script>

    <!-- SITE TITLE -->
    <title>Dr. Scratch</title>


    <link rel="stylesheet" href="../../static/app/content/style.css">
    <!-- =========================
     FAV AND TOUCH ICONS AND FONT
    ============================== -->
    <link rel="icon" href="../../static/app/images/favicon.ico">
    <link rel="stylesheet" href="static/app/icons/icons.css">
    <link type="text/css" rel="stylesheet" href="../../static/app/content/css_002.css">
    <link type="text/css" rel="stylesheet" href="../../static/app/content/css.css">

    <!-- =========================
     STYLESHEETS
    ============================== -->
    <!-- BOOTSTRAP AND ANIMATION -->
    <link rel="stylesheet" href="../../static/app/content/bootstrap.min.css">
    <link rel="stylesheet" href="../static/app/content/animate.css">

    <!-- CAROUSEL AND LIGHTBOX -->
    <link rel="stylesheet" href="../../static/app/content/owl_002.css">
    <link rel="stylesheet" href="../../static/app/content/owl.css">
    <link rel="stylesheet" href="../../static/app/content/nivo-lightbox.css">
    <link rel="stylesheet" href="../../static/app/content/default.css">

    <!-- CUSTOM STYLESHEETS -->
    <link rel="stylesheet" href="../../static/app/content/styles.css">
    <link rel="stylesheet" href="../../static/app/content/developing.css">
    <!-- RESPONSIVE FIXES -->
    <link rel="stylesheet" href="../../static/app/content/responsive.css">

    <!-- DEFAULT COLOR/ CURRENTLY USING -->
    <link rel="stylesheet" href="../../static/app/content/red.css">



    <script>

        $(document).ready(function() {
            scratchblocks.renderMatching('pre.blocks', {style: "scratch3", languages: ['ca','es', 'en', 'it','ru', 'el', 'eu', 'gl', 'pt']});
            let items = document.querySelectorAll('.blocks .scratchblocks svg, [class^=blocks-3] .scratchblocks svg');
            let item;
            for (let i = items.length; i--;) {
                item = items[i];
                item.setAttribute('viewBox', '0 0 ' + item.width.baseVal.value + ' ' + item.children[1].getBoundingClientRect().height);
                item.width.baseVal.value *= 0.75;
                item.height.baseVal.value = item.viewBox.baseVal.height * 0.75;
	        }
        });


    </script>

    <style>

        thead {
          border-bottom: 1px solid #8E8E8E;
          text-align: center;
        }

        .sprites {
            text-align: left;
            color: #547ABC;
            font-size: 18px;
        }

        .naming {
            color: #547ABC;
            font-size: 15px;
        }

    </style>


</head>
<body>
    <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top  sticky-navigation" role="navigation">
        <div class="container">
                    <!-- NAVIGATION LINK -->
                <a class="navbar-brand" href="/">
                    <img src="static/app/images/logo_main.png" alt="">
                </a>
                <ul class="nav navbar-nav navbar-right main-navigation ">
                        <li class="navbar-brand"><a class="navbar-brand pull-right" href="https://twitter.com/DrScratchTool"><span class="icon-social-twitter colored-text"></span></a></li>
                        <li class="navbar-brand"><a class="navbar-brand pull-right" href="mailto:kgblll@gsyc.urjc.es"><span class="icon-basic-mail colored-text"></span></a></li>
                        <li class="navbar-brand"><a class="btn btn-default" id="tour">{% trans "HELP" %}</a></li>
                        <li class="navbar-brand"><a class="navbar-brand pull-right">{% trans "Dr. Scratch(Beta Version)" %}</a></li>
                </ul>
        </div>
    </div>

    <div class="container">
        <section id="dashboard">
        <br>
        <form name="form" method="post" action="/show_dashboard">
        {% csrf_token %}
            <button type="submit" id ="showdashboard" class="btn btn-secundary standard-button" >{% trans "Do you want to know more about your progamming level?" %}</button>
            <input type="hidden" name="mastery" value="{{ mastery }}" />
            <input type="hidden" name="user" value="{{ user }}" />
            <input type="hidden" name="filename" value="{{ filename }}" />
            <input type="hidden" name="url" value="{{ url }}" />
        {% csrf_token %}
        </form>
        </section>
        <br>
        {% trans "<img src='static/app/images/badsmells_en.png'>" %}
        </br>

        <div class="col-md-6">
            <section id="dashboard">
                <div class="container-fluid">
                    <div class="row marketing">
                        <div class="jumbotron">
                            <h3 id="score">{% trans "Backdrop naming" %}</h3>
                            <br>
                            {% for value in backdropNaming.backdrop %}
                                <div class="naming"> {{ value }}</div>
                            {% endfor %}
                            {% if backdropNaming.number == 0 %}
                                <div class="naming">{% trans 'Your project does not have default backdrop naming, good job!' %}</div>
                            {% endif %}
                            <br>
                            <a href="learn/spriteNaming">{{ backdropNaming.number }} {% trans " backdrop naming." %}</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-6">
            <section id="dashboard">
                <div class="container-fluid">
                    <div class="row marketing">
                        <div class="jumbotron">
                            <h3 id="score">{% trans "Sprite naming" %}</h3>
                            <br>
                            {% for value in spriteNaming.sprite %}
                            <div class="naming">{{ value }}</div>
                            {% endfor %}
                            {% if spriteNaming.number == 0 %}
                                <div class="naming">{% trans 'Your project does not have default sprite naming, good job!' %}</div>
                            {% endif %}
                            <br>
                            <a href="learn/spriteNaming">{{ spriteNaming.number }} {% trans " sprite naming." %}</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-6">
            <section id="dashboard">
                <div class="container-fluid">
                    <div class="row marketing">
                        <div class="jumbotron">
                            <h3 id="score">{% trans "Dead code" %}</h3>
                            <br>
                            {% for key,value in deadCode.items %}
                                {% if key != 'number' %}
                                    <div class="sprites">{{ key }}:</div>
                                    <pre class="blocks">
                                    {% for dead_list in value %}
                                        {% for dead_block in dead_list %} {{ dead_block }}
                                        {% endfor %}
                                    {% endfor %}
                                    </pre>
                                    <br>
                                {% endif%}
                            {% endfor%}
                            {% if deadCode.number == 0 %}
                                <div class="naming">{% trans 'Your project does not have dead code, good job!' %}</div>
                            {% endif %}
                            <br>
                            <a href="learn/deadCode">{{ deadCode.number }} {% trans " dead code." %}</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-6">
            <section id="dashboard">
                <div class="container-fluid">
                    <div class="row marketing">
                        <div class="jumbotron">
                           <h3 id="score">{% trans "Duplicated scripts" %}</h3>
                           <br>
                           {% for key, value in duplicateScript.duplicated.items %}
                                <div class="sprites">{{ key }}:</div>
                                <pre class="blocks">
                                    {% for dup_list in value %}
                                        {% for dup_block in dup_list %} {{ dup_block }}
                                        {% endfor %}
                                    {% endfor %}
                                </pre>
                                <br>
                           {% endfor %}
                           {% if duplicateScript.number == 0 %}
                                <div class="naming">{% trans 'Your project does not have duplicated scripts, good job!' %}</div>
                           {% endif %}
                           <br>
                           <a href="learn/duplicatedScripts">{{ duplicateScript.number }} {% trans " duplicated scripts." %}</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <footer class="footer grey-bg">
        <div class="container">
            {% trans "©2019 Dr. Scratch" %}
            <!-- SOCIAL ICONS -->
            <ul class="social-icons">
                <li><a href="https:/twitter.com/drscratchtool"><span class="icon-social-twitter transparent-text-dark"></span></a>
                </li>
                <li><a href=""><span class="icon-social-github transparent-text-dark"></span></a>
                </li>
            </ul>
        </div>
    </footer>

</body>

</html>
